name: auto-tag

on:
  push:
    branches:
      - main
      - master

permissions:
  contents: write

jobs:
  tag:
    uses: nikolareljin/ci-helpers/.github/workflows/auto-tag-release.yml@production
