name: deb

on:
  workflow_dispatch:

jobs:
  deb:
    uses: ./.github/workflows/deb-build.yml
    with:
      working_directory: "."
      prebuild_command: "./scripts/generate_man.sh"
      build_command: "./scripts/build.sh"
