name: deb

on:
  workflow_dispatch:

jobs:
  deb:
    uses: nikolareljin/ci-helpers/.github/workflows/deb-build.yml@0.6.0
    with:
      working_directory: "."
      prebuild_command: "./scripts/generate_man.sh"
      build_command: "./scripts/build.sh"
