name: preset-python
on:
  workflow_call:
    inputs:
      runner:
        type: string
        default: ubuntu-latest
      working_directory:
        type: string
        default: "."
      fetch_depth:
        type: number
        default: 0
      python_version:
        type: string
        default: "3.12"
      lint_command:
        type: string
        default: "if [ -f requirements.txt ]; then python -m pip install -r requirements.txt; elif [ -f pyproject.toml ]; then python -m pip install pyinstaller && python -m pip install .; fi && python -m pip install ruff && ruff check ."
      test_command:
        type: string
        default: "python -m pip install pytest && python -m pytest"
      build_command:
        type: string
        default: ""
      e2e_command:
        type: string
        default: ""
      docker_command:
        type: string
        default: ""
      extra_command:
        type: string
        default: ""

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
    with:
      runner: ${{ inputs.runner }}
      working_directory: ${{ inputs.working_directory }}
      fetch_depth: ${{ inputs.fetch_depth }}
      python_version: ${{ inputs.python_version }}
      lint_command: ${{ inputs.lint_command }}
      test_command: ${{ inputs.test_command }}
      build_command: ${{ inputs.build_command }}
      e2e_command: ${{ inputs.e2e_command }}
      docker_command: ${{ inputs.docker_command }}
      extra_command: ${{ inputs.extra_command }}
