name: rpm

on:
  workflow_dispatch:

jobs:
  rpm:
    uses: ./.github/workflows/rpm-build.yml
    with:
      working_directory: "."
      prebuild_command: "./scripts/generate_man.sh"
      build_command: "./scripts/build.sh"
