name: rpm

on:
  workflow_dispatch:

jobs:
  rpm:
    uses: nikolareljin/ci-helpers/.github/workflows/rpm-build.yml@production
    with:
      working_directory: "."
      prebuild_command: "./scripts/generate_man.sh"
      build_command: "./scripts/build.sh"
